.elemento-barra-navegacion {
  position: fixed;
  z-index: +1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.regresar-y-cerrar {
  background-color: #eee;
  border: none;
  padding: 0.4rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  width: 5em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.regresar-y-cerrar:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}
.regresar-y-cerrar:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.regresar-y-cerrar:disabled {
  cursor: auto;
  color: grey;
}
